---
import { Image } from 'astro:assets';
import tarsierLogo from '../images/tarsier-logo.png';

interface NavItem {
    href: string;
    text: string;
}

const navItems: NavItem[] = [
    { href: "#home", text: "HOME" },
    { href: "#about", text: "ABOUT US" },
    { href: "#services", text: "SERVICES" },
    { href: "#portfolio", text: "PORTFOLIO" },
    { href: "#blog", text: "BLOG" },
];
---

<header class="navbar bg-inherit p-5 justify-between">
  <div class="flex items-center">
    <Image src={tarsierLogo} alt="Tarsier Digital Solutions Logo" width={120} height={120} />
    <div class="flex flex-col items-start ml-2">
      <h1 class="font-frankfurter text-4xl m-0 leading-none [-webkit-text-stroke:0.5px_#333] [paint-order:stroke_fill]">
        TARSIER DIGITAL
      </h1>
      <span class="font-schoolbell text-3xl mt-[-5px]">Solutions</span>
    </div>
  </div>
  
  <div class="lg:hidden dropdown dropdown-end">
    <label tabindex="0" class="btn btn-ghost m-1">
      <span class="font-frankfurter text-2xl mr-2">MENU</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </label>
    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow rounded-box w-52 bg-[rgba(219,196,160,0.85)] backdrop-blur-[5px]">
      {navItems.map((item) => (
        <li>
          <a href={item.href} class="font-frankfurter text-xl text-gray-800 hover:bg-[rgba(255,182,193,0.3)]">
            {item.text}
          </a>
        </li>
      ))}
    </ul>
  </div>

  <div class="hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      {navItems.map((item) => (
        <li><a href={item.href} class="font-frankfurter text-2xl text-gray-800">{item.text}</a></li>
      ))}
    </ul>
  </div>
</header>